.App {
  text-align: center;
  /* margin: 0 auto;
  min-height: 100%;
  direction: ltr; */
  font-family: Roboto !important;
}

/* 
html, body, .App {
  color: black;
  background-color: rgba(255, 255, 255, 1);
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body>#root>div {
  min-height: 100vh !important;
} */

/* body {
  position: relative;
  margin: 0;
  min-height: 100%;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden !important;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 0;
  -webkit-transition: right .3s ease;
  -moz-transition: right .3s ease;
  -ms-transition: right .3s ease;
  transition: right .3s ease;
  -webkit-overflow-scrolling: touch;
} */

.main-app-header-box {
  background: #66ab9b;
  color: white;
}

.main-app-header {
  font-size: 2.5rem !important;
}

@font-face {
  font-family: Roboto;
  src: url(/src/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url(/src/fonts/Roboto/Roboto-BlackItalic.ttf) format('truetype');
  font-style: italic oblique;
}

@font-face {
  font-family: Roboto;
  src: url(/src/fonts/Roboto/Roboto-Light.ttf) format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url(/src/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
  font-weight: normal;
}